<%layout("/layouts/boilerplate")%>

<div class="container mt-5  mb-5">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <div class="card shadow-lg">

                <!-- Image -->
                <img 
                    src="<%= listing.image %>" 
                    class="card-img-top" 
                    alt="listing image"
                    style="height: 300px; object-fit: cover;"
                >

                <br>

                <div class="card-body">

                    <h3 class="card-title text-center mb-3">
                        <%= listing.title %>
                    </h3>

                    <p class="card-text">
                        <strong>Description:</strong> <%= listing.description %>
                    </p>

                    <p class="card-text">
                        <strong>Price:</strong> &#8360; <%= listing.price.toLocaleString("en-IN") %>
                    </p>

                    <p class="card-text">
                        <strong>Location:</strong> <%= listing.location %>, <%= listing.country %>
                    </p>

                    <div class="d-flex justify-content-between mt-4">
                        <a href="/listings/<%=listing._id%>/edit" class="btn btn-warning">
                            Edit
                        </a>

                        <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>